.git
.github
.env
.env.*
!.env.example
.phpunit.cache
.phpunit.result.cache
.fleet
.idea
.nova
.vscode
.zed
node_modules
vendor
public/build
public/hot
public/storage
database/*.sqlite
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
docs
Dockerfile*
README.md
npm-debug.log
yarn-error.log
